[Unit]
Description=Terraform Cloud Agent
Documentation=https://developer.hashicorp.com/terraform/cloud-docs/agents/agents
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/tfc-agent.service.env
KillMode=process
KillSignal=SIGINT
Delegate=yes
Restart=always
RestartSec=5s
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
ExecStart=/usr/local/bin/tfc-agent
